{% extends 'base.html.twig' %}

{% block title %}Liste des paiements{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="h4 my-4 text-center">Liste des paiements</h2>
        {% if charges | length > 0 %}
            <table class="table table-hover align-items-center">
                <thead class="table-secondary">
                <tr>
                    <td>Date du paiement</td>

                    <td>N° de paiement</td>

                    <td>Montant</td>

                    <td>Détail</td>
                </tr>
                </thead>
                <tbody class="bg-light">
                {% for charge in charges %}
                    <tr>
                        <td>
                            {% if charge.created %}
                                {{ charge.created|date('d/m/Y') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if charge.id %}
                                {{ charge.id }}
                            {% endif %}
                        </td>
                        <td>
                            {% if charge.amount %}
                                {{ charge.amount/100 }} €
                            {% endif %}
                        </td>
                        <td>
                            {% if charge.receipt_url %}
                                <a class="text-right btn btn-warning" href="{{ charge.receipt_url }}">Télécharger</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <div class="alert alert-primary">
                Vous n'avez aucun paiement associé à votre compte.
            </div>
        {% endif %}


    </div>

{% endblock %}
