div.container {
  margin-top: 20px;
}

div.ad-blocktop {
  padding: 2em;
  background-size: cover;
  background-position: center center;
}

div.ad-blocktop h1,
div.ad-blocktop p {
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.carousel-caption {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar {
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;
}

.avatar-medium {
  max-width: 64px;
  max-height: 64px;
}

.avatar-mini {
  max-width: 24px;
  max-height: 24px;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu{
  margin:0!important;
}

.datepicker table tr td.disabled {
  color: red !important;
}

.avatar-micro {
  max-width: 24px;
  max-height: 24px;
}

.primary-color {
  color: #2c3e50;
}
.custom-file-label {
  opacity: 0;
}
.custom-file-input {
  opacity: 1;
}

#account_media img {
  height: 100%;
  width: 100%;
}
.hidden-form {
  display: none;
}

.liked {
  color: #fff !important;
  background-color: #e74c3c;
  border-color: #e74c3c;
  font-weight: bold;
  transition-duration: 1s;


}
.not-liked {
  color: #e74c3c !important;
  background-color: #fff;
  border-color: #e74c3c;
  transition-duration: 1s;
}

.liked-thumbs {
  color: #656fbf;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transition-duration: 1s;

}
.not-liked-thumbs {
  color: #656fbf;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transition-duration: 1s;
}

#tableHistoric1_filter, #tableHistoric2_filter{
  display: none;
}