body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: #eee
}
body::-webkit-scrollbar {
    width: 12px;
    background-color: #2B2B2B
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #2B2B2B
}

div.container {
    margin-top: 20px;
}

div.ad-blocktop {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad-blocktop h1,
div.ad-blocktop p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu{
    margin:0!important;
}

.datepicker table tr td.disabled {
    color: red !important;
}

.avatar-micro {
    max-width: 24px;
    max-height: 24px;
}

.primary-color {
    color: #2c3e50;
}
.custom-file-label {
    opacity: 0;
}
.custom-file-input {
    opacity: 1;
}

#account_media img {
    height: 100%;
    width: 100%;
}
.hidden-form {
    display: none;
}

.liked {
    color: #fff !important;
    background-color: #e74c3c;
    border-color: #e74c3c;
    font-weight: bold;
    transition-duration: 1s;


}
.not-liked {
    color: #e74c3c !important;
    background-color: #fff;
    border-color: #e74c3c;
    transition-duration: 1s;
}

.liked-thumbs {
    color: #656fbf;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transition-duration: 1s;

}
.not-liked-thumbs {
    color: #656fbf;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transition-duration: 1s;
}

#tableHistoric1_filter, #tableHistoric2_filter{
    display: none;
}

.bg-post-admin{
    background-color: #bce0f3;
}

#post_media > fieldset{
    margin: 0!important;
}

#form_response fieldset{
  margin: 0!important;
}

.card-hover:hover {
  background-color: #e3e7e8!important;
  transition-duration:0.5s;
}
.liste-conversations a:hover{
  text-decoration:none;
}
.text-fullName-conversation{
  font-weight:bold;
  font-size: 1rem;
}
.text-pseudo-conversation{
  font-style:italic;
  font-size:0.9rem;
}


.text-no-color{
  color: #333;
}

.admin-alert{
  margin-left: 250px;
  background: #f4f6f9;
}

.formation-image{
  max-width: 300px;
  max-height: 300px;
}

.avatar-large{
  max-width: 200px;
  max-height: 200px;
}

.msg_cotainer{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
}
.msg_cotainer_send{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #18BC9C ;
  padding: 10px;
  position: relative;
}
.msg_time{
  left: 0;
  bottom: -15px;
  color: rgba(255,255,255,0.5);
  font-size: 10px;
}
.msg_time_send{
  right:0;
  bottom: -15px;
  color: rgba(255,255,255,0.5);
  font-size: 10px;
}
.img_cont_msg{
  height: 40px;
  width: 40px;
}
.msg_card_body{
}
.chat{
  margin-top: auto;
  margin-bottom: auto;
}
.user_img{
  height: 70px;
  width: 70px;
  border:1.5px solid #f5f6fa;

}
.user_img_msg{
  height: 40px;
  width: 40px;
  border:1.5px solid #f5f6fa;

}
.user_info{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
.user_info span{
  font-size: 20px;
  color: white;
}
.user_info p{
  font-size: 10px;
  color: rgba(255,255,255,0.6);
}
.card{
  border-radius: 15px !important;
}
.card-header{
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.msg_head{
  position: relative;
}
.user_info{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
.msg_card_body .unread {
  background-color: #d6b469!important;
}
.message-box .created {
  font-size: 10px;
  color: black;
}
#message #message_media legend, #message #message_media input{
  color:#fff;
}
