{% extends 'base.html.twig' %}

{% block title %}Page d'offres
{% endblock %}

{% block body %}
	{% include '/partials/breadcrumb.html.twig'
		with {
		'breadcrumbs':[
			['offres', 'offers_index']
		],
		'content':'Liste des offres'
	}
	%}
	<div class="row justify-content-center m-0">
		<div class="col-10 col-md-6 text-white text-center">
			<h2 class="mt-2 mb-3">NOS OFFRES PRIVILÈGE</h2>
			<p class="font-weight-light mt-2">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vulputate metus et nisl luctus
				pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus.
			</p>
			<img src="/images/templating/separator-white.png" class="mt-2">
		</div>
	</div>
	<div class="row justify-content-center m-0">
		<div class="col-7 text-center d-md-flex mt-9 mb-4 justify-content-center">
			{% if offers | length > 0 %}
				{% for offer in offers %}
					{% include '/offers/_offers-item.html.twig'
						with {
						'offer' : offer
					} %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}
