{% block stylesheet %}
<style>
    .header {
        height: 44px;
        position: relative;
        z-index: 3;
    }
    .notification-trigger {
        color:#eee;
        position: relative;
        text-decoration: none;
        float: right;
        margin:8px 15px 0 0;
        font-size: 20px;
    }
    .notification-trigger .notification-num {
        width: 16px;
        height: 16px;
        position: absolute;
        border-radius: 50px;
        text-align: center;
        line-height: 16px;
        display: block;
        background: #d9232b;
        color: #fff;
        top: -4px;
        right: -11px;
        font-size: 10px;
    }
    .panel {
        position: absolute;
        width: 100%;
        top: 82px;
        background-color: #f3f2ec;
        display: none;
        z-index: 2;
    }
    .panel.visible {
        display: block;
    }
    .panel .title {
        position: absolute;
        background-color: #fff;
        color: #484846;
        padding: 10px;
        text-align: center;
        font-weight: 500;
        border-bottom: 1px solid #ddd;
        z-index: 3;
        width: 100%;
    }
    @media screen and (min-width: 768px) {
        .panel {
            width: 300px;
            right: 50px;
            border: 1px solid #ddd;
            box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .5);
        }
    }
    ul.notification-bar {
        list-style: none;
        padding: 60px 10px 20px;
        margin: 0;
        position: relative;
        z-index: 1;
        height: 100%;
    }
</style>
{% endblock %}
<div class="header">
    <a href="#" class="notification-trigger">
        <i class="far fa-bell fa-lg"></i>
        <div class="notifTrigger"></div>
    </a>
</div>
<div class="panel">
    <div class="title"><b>Vos notifications</b></div>
    <ul class="notification-bar">
        <div class="card">
                <li class="list-group-item text-center firstMessage">Vous n'avez pas encore de notification</li>
        </div>
    </ul>
</div>
{% block javascripts %}
    <script src="/js/jquery.min.js"></script>
    <script>
        var nbNotif = 0;
        var compteur = 1;
        const url = new URL('http://127.0.0.1:3000/hub');
        url.searchParams.append('topic', 'http://monsite.com/ping');
        const eventSource = new EventSource(url, {withCredentials: true});
        eventSource.onmessage = e => {
            nbNotif+=compteur;
            const data = JSON.parse(e.data);
            let message = data.fullName;
            const time = new Date(data.time.date);
            const link = "/thread/"+data.threadName+"#post"+data.idPost;
            console.log(time);
            if(data.type == "like"){
                message += " a liké votre post <br><br> <small style='float:left;'><i class='fa fa-heart'></i> "+data.time+"</small>";
            }else if(data.type == "comment"){
                message += " a répondu à votre post <br><br> <small style='float:left;'><i class='fa fa-comment'></i> "+time + "</small>";
            }
            $('.firstMessage').remove();
            $('.notification-bar .card').append('<li class="list-group-item text-center"><a href='+link+'>'+message+'</a></li>');
            $('.notifTrigger').addClass('notification-num').html(nbNotif);
        }

        $('.notification-trigger').click(function() {
            nbNotif = 0;
            $('.notifTrigger').removeClass('notification-num').html('');
            $('.panel').toggleClass('visible');
        });

        $(document).mouseup(function(e) {
            var container = $(".panel");
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                $('.panel').removeClass('visible');
            }
        });
    </script>
{% endblock %}
