{% for thread in threads %}
	<li>
		{% if app.user == null %}
			<a href="{{ path('account_login') }}" class="dropdown-item text-capitalize">{{thread.slug}}</a>
		{% else %}
			<a href="{{ path('thread_show', {'slug':thread.slug}) }}" class="dropdown-item text-capitalize">{{thread.slug}}</a>
		{% endif %}
	</li>
{% endfor %}
