{% set author = post.author %}

<div class="card mb-2 {% if (is_granted(" role_super_admin") or is_granted(" role_admin")) or post.isAdmin %} bg-primary {% endif %}
		">
	<div class="card-body">
		<div class="row">
			<div class="col-md-2">
				<img src="{{author.picture}}" class="img img-rounded img-fluid"/>
				<small class="text-secondary text-center">{{post.createdAt | date('d/m/Y H:i')}}</small>
			</div>
			<div class="col-md-10">
				<p>
					<a class="float-left" href="#">
						<strong {% if (is_granted(" role_super_admin") or is_granted(" role_admin")) or post.isAdmin %} class="text-danger" {% endif %}>
							{{author.pseudo}}
						</strong>
					</p>
				</p>
			</a>
		</p>
		<div class="clearfix"></div>
<div class="{% if (is_granted(" role_super_admin") or is_granted(" role_admin")) or post.isAdmin %} text-white {% endif %}">

			{{post.content | raw}}
		</div>
		<p>
			<a class="float-right btn btn-info text-white ml-2">
				<i class="fa fa-reply"></i>
				Reply</a>
			<a class="float-right btn text-white btn-danger">
				<i class="fa fa-heart"></i>
				Like</a>
		</p>
	</div>
</div></div></div>
